<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alegreya+SC&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <title><%=coffee.name; %></title>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>                        
            </button>
            <a class="navbar-brand" href="#">Logo</a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/drinks">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="/drinks/new">Create</a></li>
            </ul>
          </div>
        </div>
      </nav>
    <div class = "container">
        <h1><%=coffee.name ; %></h1>
        <img src ="<%=coffee.img; %>" class = "img-thumbnail">
        <h2>Alternate Names</h2>
            <%=coffee.alternate_names; %>
        <h2>Country of Origin</h2>
            <%=coffee.country_of_origin%>
        <h2>Type</h2>
            <%=coffee.type%>
        <h2>Coffee Base</h2>
            <%=coffee.coffee_base%>
        <h2>Main Ingredients</h2>
            <%=coffee.main_ingredients%>
        <h2>Similar Drinks</h2>
            <%=coffee.similar_drinks%>
        <h2>Preparation</h2>
            <%=coffee.preparation%>
        <h2>Taste</h2>
            <%=coffee.taste%>
        <h2>Notes</h2>
            <%=coffee.notes%>
        <br/>
        <br/>
        <br/>
        <a href="/drinks" class = "button">Back</a>
    </div>
</body>
</html>